munitdemo/src/main/mule/munitdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0f248106-afca-40a2-bd3e-3d769efb582b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="munitdemoFlow" doc:id="7fb6f08a-a100-4f21-acb9-291b7e39437a" >
		<http:listener doc:name="Listener" doc:id="d8fc0ea3-4f87-4105-bcbf-f8d2ce8888ec" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["demo"]' doc:name="Set Payload" doc:id="73e02555-2617-4bfb-89ae-e8ee432b9ea3" />
	</flow>
</mule>
